<keyboard-shortcut
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>
    <order>${ORDER}</order>
    <shortcut>${SHORTCUT}</shortcut>
    <operation type="${OPERATION_TYPE}">${OPERATION_VALUE}</operation>
    <context>${CONTEXT}</context>
</keyboard-shortcut>
