package ${PACKAGE};

import ${FQ_INTERFACE};
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

public class ${CLASSNAME} implements ${INTERFACE_CLASS}{
    private static final Logger log = LoggerFactory.getLogger(${CLASSNAME}.class);

    public ${CLASSNAME}() {

    }

}