<user-format
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        class="${FQ_CLASSNAME}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>

    <type i18n-name-key="${TYPE_KEY}">${TYPE_NAME}</type>

    #resources($RESOURCES)
</user-format>