<template-context-item
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        context-key="${CONTEXT_KEY}"
        global="${GLOBAL}"
        #if($COMPONENT_REF && $COMPONENT_REF != "")component-ref="$COMPONENT_REF"#else class="$FQ_CLASSNAME"#end>

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>
    
</template-context-item>
