<webwork1 key="${MODULE_KEY}"
                   name="${MODULE_NAME}"
                   i18n-name-key="${NAME_I18N_KEY}">
    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>
    #actions($ACTIONS)
</webwork1>