<rest
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        path="${PATH}"
        version="${VERSION}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>

    #dispatchers($DISPATCHERS)
    #packages($PACKAGES_TO_SCAN)
</rest>