package ${PACKAGE};

import com.atlassian.jira.plugin.report.impl.AbstractReport;
import com.atlassian.jira.web.action.ProjectActionSupport;

import java.util.Map;

public class ${CLASSNAME} extends AbstractReport {
    public String generateReportHtml(ProjectActionSupport projectActionSupport, Map map) throws Exception {
        return null;
    }
}
