<gadget
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        location="${LOCATION}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>

</gadget>