<workflow-function key="${MODULE_KEY}"
                   name="${MODULE_NAME}"
                   i18n-name-key="${NAME_KEY}"
                   class="${FQ_FACTORY_NAME}">

    <description key="${DESCRIPTION_KEY}">${DESCRIPTION}</description>

    <function-class>${FQ_CLASSNAME}</function-class>

    <orderable>${ORDERABLE}</orderable>
    <unique>${UNIQUE}</unique>
    <deletable>${DELETABLE}</deletable>

    <resource type="velocity" name="view" location="templates/function/${MODULE_KEY}.vm"/>
    <resource type="velocity" name="input-parameters" location="templates/function/${MODULE_KEY}-input.vm"/>
    <resource type="velocity" name="edit-parameters" location="templates/function/${MODULE_KEY}-input.vm"/>

</workflow-function>