<servlet-context-param
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>
    <param-name>${PARAM_NAME}</param-name>
    <param-value>${PARAM_VALUE}</param-value>
</servlet-context-param>
