<customfield-searcher
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        class="${FQ_CLASSNAME}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>

    <valid-customfield-type package="${VALID_CUSTOM_FIELD_PACKAGE}" key="${VALID_CUSTOM_FIELD_KEY}" />

    #resources($RESOURCES)
</customfield-searcher>