<rpc-soap
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        class="${FQ_CLASSNAME}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>
    <service-path>${SERVICE_PATH}</service-path>
    <published-interface>${FQ_INTERFACE}</published-interface>
</rpc-soap>
