package ${PACKAGE};

import com.atlassian.jira.plugin.profile.UserFormat;
import java.util.Map;

public class ${CLASSNAME} implements UserFormat {
    public String format(String username, String id) {
        return "";
    }

    public String format(String username, String id, Map<String, Object> params) {
        return "";
    }
}
